<%= image_tag("profielfoto.jpg", :width => 300 , :style=>"float:right")%>
<h1>Over mij</h1>
<p>Hoi!</P>
  <p>Als fotografe en dus helemaal niet werkzaam in de techy-scene, probeer ik te leren coderen. Mijn man is al jaren met veel plezier aan de slag als webdeveloper en heeft een compleet eigen taal die ik totaal niet kan volgen. </P>
  <p>Maar goed, eerst iets over mij. Ik ben Mariëlle van de Krol, 25 jaar en happily married. We wonen gezellig in het mooiste dorp van de randstad, hoog en droog, samen met Pippin onze kat.

<p>Met vriendelijke groet,</p>

<p>Mariëlle van de Krol</p>
